@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;


}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
    transition: 0.5s ease;

}

.log img{
    width: 50px;
    max-height: 50px;
}

.logo:hover{
    transform: scale(1.2);
    background-color: #3a6cf4;
    color: white;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation a{
    display: inline-block;
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.7s ease;

}

.navigation a:hover{
    color: white;
    transform: scale(1.3);
    background-color: #3a6cf4;
    border-radius: 15px;
    
}
